<div class="answer" id="answer_<%= answer.id %>">
  <h3><%= answer.title %></h3>
  <p><%= answer.body %></p>
  <div>
    <%= link_to "Delete", [@question, answer], method: :delete, remote: true %>
  </div>
  <hr>
</div>
