<% if @answer.errors.any? %>
  $('#answer_errors_list').empty();
  $('#answer_errors').removeClass('d-none');

  <% @answer.errors.full_messages.each do |message| %>
    <% field = message.split(" ").first.downcase %>

    <% if ['title', 'заголовок'].include?(field) && @answer.title.blank? %>
      $('#answer_errors_list').append('<li>Заполните поле "Заголовок ответа"</li>');
    <% elsif ['body', 'текст'].include?(field) && @answer.body.blank? %>
      $('#answer_errors_list').append('<li>Заполните поле "Ваш ответ"</li>');
    <% else %>
      $('#answer_errors_list').append('<li><%= message %></li>');
    <% end %>
  <% end %>
<% else %>
  $('#answer_errors_list').empty();
  $('#answer_errors').addClass('d-none');
  location.reload(); // или заменить на обновление части страницы
<% end %>